@import url(http://fonts.googleapis.com/css?family=Mukta);
body
{
	width:100%;
	max-width :1024px;
	min-width : 750px;
   margin: auto; /* Pour centrer notre page */
   margin-top: 5px; /* Pour �viter de coller avec le haut de la fen�tre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background:  white;
	font-family: Mukta,arial,"Times New Roman", Times, serif;
 }
#connection
{
float: right;
}
#menu_vertical li
{
 float: left;
padding:0;
padding-left:10px;
 border: 0;
}
#index a
{
	float: right;
	font-size : 8px;
  display:inline-block;

}
#index span
{
	align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup table{
line-height: 2;
}

  .popup td{
    text-align:right;

  }
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
 
    width: 400px;
    height: 600px;
    top: 0;
    position: absolute;
    visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 999;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;

  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/* Popup container - can be anything you want */

.popupUser {
	border: solid;
	border-color:  #00b4ff;
	width : auto;
  visibility: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
}
/* Toggle this class - hide and show the popup */
.popupUser .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
#menu_vertical
{
	
	width: 100%;
list-style-type: none;
  margin: auto; /* Pour centrer notre page */
 border: 0;
float: right;
background: #00b4ff;
margin-bottom: 2%;    /* Idem pour le bas du navigateur */
}

.title
{
	padding : 10px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 5px;
background: #1e8ac2;
 color: white;
	padding-left : 30px;
}
.titleCenter
{
	text-align: center;
	padding : 10px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
background: #00b4ff;
}
.title2
{
	padding : 10px;
	font-weight: bold;
	font-size: 16x;
	margin-top: 10px;
	margin-bottom: 10px;
	
	width: 100%;
list-style-type: none;
 border: 0;
	margin-top: 10px;
	margin-bottom: 10px;
background: #b3f3fa;
}
.boldText{
    font-weight: bold;
}
#menu_vertical li a:link, #menu_vertical li a:visited
{
 display: block;
 padding: 4px 8px;
 height: 1%;
 color: #FFF;
 margin: 0;
 border-right: 1px solid #fff;
 text-decoration: none;
 vertical-align: center
}
#menu_vertical li a:hover { background-color: #FFFFFF; 
color:black;}

 #logo
 {
  display: block;
 margin-top: 20px; 
  margin-left: 10px; 
 float:left;
 }
 #User
 {
	 float: right;
	 display: block;
	  margin-top: 20px; 
 }
  #Header 
 {
	 width : 100%;
	 display: inline-block;
 }
 #User p
 {
	float: left;
	margin-top: 20px; 
 }
 #User fieldset
 {
	float: right;
	margin: 0;
	border: 0px #006100 outset;
 }
input:read-only { 
  background-color: #e2e2e2;
}

#corps Table
{
	width:100%;
}

 #corps
 {
 display: inline-block;
   padding: 2px;/*marge dans le corps*/
 margin-top:2px;
width:100%;
   margin-left: auto;
    margin-right: auto 
 }
  
.dot {
		margin:0px;
	margin-right:20px;
	
  height: 40px;
  width: 40px;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  border: 1px #4095f5 outset;
}
.dot2 {
		margin:0px;
	margin-right:10px;
	
  height: 20px;
  width: 20px;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  border: 1px #4095f5 outset;
}

 
 #step fieldset
{
 background-color : #DDF1F6;
border: 1px #006100 outset;
}
#TableauSponsors table
{
	font-size: 12px;
   width: 100%;
    border-collapse: collapse;
 font-family: Arial, Helvetica, sans-serif;
}
#TableauSponsors th
{
width:auto;
    background-color: #1e8ac2 ;
    color: white;
  height: 30px;
    text-align: left;
	  border-bottom: 1px solid #ddd;
}
#TableauSponsors td
{
	width:25%;
  height: 15px;
    padding: 10px;
    text-align: Left;
 border-bottom: 1px solid #ddd;
}
#TableauSponsors tr:nth-child(even) {background-color: #f2f2f2;}
#TableauResulat table
{
	font-size: 12px;
/*	    table-layout: fixed;*/
   width: 100%;
     border-collapse: collapse;
 font-family: Arial, Helvetica, sans-serif;
}

#TableauResulat th
{
width:auto;
padding-left : 20px;
    background-color: #1e8ac2 ;
    color: white;
  height: 30px;
    text-align: left;
	  border-bottom: 1px solid #ddd;
}
#TableauResulat td
{
	width:auto;
  height: 15px;
  padding-left : 20px;
    padding: 10px;
    text-align: Left;
 border-bottom: 1px solid #ddd;
}
.TableauResulat 
{
	background:#fff;
  margin: 10px;
  padding : 5px;
}

#TableauResulat tr:nth-child(even) {background-color: #d6d6d6;}
#TableauResulat tr
{

table-layout: fixed;
}
#TableauCat th
{
width:auto;
padding-left : 20px;
  height: 30px;
    text-align: left;
	  border-bottom: 1px solid #ddd;
}
#TableauCat table
{
background: rgba(36, 174,232, 0.25); 
}

#TableauCat td
{
	width:auto;
  height: 15px;
  padding-left : 20px;
    padding: 10px;
    text-align: Left;
 border-bottom: 1px solid #ddd;
}
#TableauCat tr:nth-child(even) {background-color: #f2f2f2;}
#step label
{
	display: block;
	width: 100px;
	float: left;
}
#step input, #step textarea
{
background-color: #CCCCCC;
}
#image input
{background-color:#FFFFFF;
}
#Information p 
 {
  padding: 10px;
  /*background: rgba(36, 174,232, 0.25);  Une couleur de fond pour le corps */
 }
 p 
 {
  padding: 10px;
  background: rgba(36, 174,232, 0.25);  /*Une couleur de fond pour le corps */
 }
 .imgCenter
 {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

 }
#Information fieldset 
 {
  background: rgba(36, 174,232, 0.10); /* Une couleur de fond pour le corps */
  border : none;
	margin-top: 20px; 
 }

#Information table
 {
  margin-top:15px;
   text-align: Left;
 /*background: rgba(36, 174,232, 0.25);  Une couleur de fond pour le corps */
 }
 #formulaire
 {

 text-align: left;
 }
#formulaire p 
 {
padding : 10px;
 background: #C0C0C0;
 
 }
  h3
 {
padding : 10px;
 background: #C0C0C0;
 
 }
 #formulaire  label 
 {
  margin-left: 20px;
	display: block;
	width: 250px;
	float: left;
	vertical-align:center;
 }
 #formulaire input[type="checkbox"]
 {
 height:30px;
 font-size:130%;


 }

 #formulaire input , select
 {	
 padding: 4px;
 font-size : 16px;
    font-weight: 520;
border-radius: 3px;
   margin-left:5%;
width: 40%;
 }
 #prix
 {

 text-align: left;
 }
#prix p 
 {
padding : 3px;
 background: #F8F8F8;
 
 }
 #prix  label 
 {
  margin-left: 40%;
	display: block;
	width: 250px;
	float: left;
 }
 
 #onglets
{
    font : bold 11px  arial;
    list-style-type : none;
    padding-bottom : 20px; /* � modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
	
    margin-left : 0;
}
#onglets li
{
    float : left;
    height : 30px; /* � modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background: white ;
}
#onglets a:hover
{
    background-color : #33E000;
}

#onglets a
{
    display : block;
    color : black;
    text-decoration : none;
    padding : 4px;
}